.close,
.myImg {
    transition: .3s
}
.myImg {
    border-radius: 5px;
    cursor: pointer
}
.myImg:hover {
    opacity: .7
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .9)
}
#caption,
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px
}
#caption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px
}
#caption,
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: .6s;
    animation-name: zoom;
    animation-duration: .6s
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 700
}
.close:focus,
.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer
}
.plus{
	width: 100px;
	height: 100px;
	position: absolute;
	right: 10px;
	top: 40px;
	margin: -49px 0 0 -56px;
	background: url(../images/plus.png) center center no-repeat;
}
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%
    }
}